/* CSS tất cả các thẻ */
* {
  margin: 0px;
  padding: 0.25%;
  box-sizing: border-box;
  
  letter-spacing: 1px; /* Khoảng cách giữa các ký tự */
  word-spacing: 2px; /* Khoảng cách giữa các từ */
}


/* Font chữ từ Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');

body, html {
  padding: 0;

}

body > * {
  padding: 10px;
  width: 100%;
}

header, footer {
  width: 100%;
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}


/* CSS general */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul, ol {
  list-style-position: inside;
  cursor: pointer;
}

/* Bỏ underline các link, list */
a, ul, ol {
  text-decoration: none;
}

/* CSS liên kết */
a:link, a:visited { 
  color: blue;
  text-decoration: none;
  cursor: pointer;
}
a:link:active, a:visited:active { 
  color: red;
}

/* CSS icon */
.fa {
  display: inline-block;
  padding: 0 5px;
}

/* CSS thẻ form */
form {
  width: 100%;
}
/* CSS thẻ input */
input, button {
  padding: 5px;
}



/* CSS phần đầu */
header {
  height: 10vh;
}
.hLeft {
  width: 10%;
  font-family:  Segoe Script;
}
.hCenter {
  width: 80%;
}
.hNav {
  width: 100%;
}
.main-menu {
  display: flex;
  text-align: center;
}
.main-menu li {
  width: 100%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.main-menu > li  {
  white-space: nowrap;
  list-style-type: none;
  padding: 10px;
  position: relative;
}
.main-menu a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: white;
  text-shadow: grey 3px 2px 3px;
}
.main-menu li:hover {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
.main-menu li:hover > a {
  color: black;
  text-shadow: white 3px 2px 3px;
}
.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
}
.sub-menu > li {
  width: 100%;
  white-space: nowrap;
  list-style-type: none;
  padding: 1vmax;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.hRight {
  width: fit-content;
}
.hRight > form {
  display: flex;
}
.hRight .searchBar {
  width: 100%;
}
.hRight button {
  display: inline-block;
  width: fit-content;
  margin-left: 5px;
  cursor: pointer;
}


/* CSS nút trượt go to top */
.go-to-top {
  position: fixed;
  display: inline-block;
  width: fit-content;
  bottom: 10px;
  right: 10px;
}

.go-to-top > a {
  display: block;
  font-size: 40px;
  
  text-shadow: gray 3px 3px 3px;
}
.go-to-top:hover > a {
  color: red;
}


/* CSS phần chân trang */
footer {
 
  bottom: 0;
  height: 28vh;
  clear:left;
}
.fLeft {
  width: 40%;
  display: flex;
}
.fLogo > img {
  height: 150px;
  width: 150px;
}
.fRight {
  width: fit-content;
  display: flex;
}
.intro {
  color: white;
  white-space: normal;
  width: 25%;
}
.intro > h3 > a {
  text-transform: uppercase;
  color: lightgreen;
  font-weight: bold;
}
.intro li {
  list-style-type: none;
}
.intro span {
  font-weight: bold;
}
.intro > div a {
  color: white;
}
.intro > div a:hover {
  text-decoration: underline;
}
.fa-star {
  color: yellow;
  padding: 0;
}






/* CSS phần thân trang */
main {
  height: 65vh;
}




.container {
  display: flex;
}



/* CSS tour page */
.tour-list_num {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  color: whitesmoke;
  border-radius: 0 50%;
}

.tour-list li span {transition-duration: 0.5s;}
.tour-list li:hover span:last-child { color: blue; font-size: larger; }
.tour-list li:hover span:hover:first-child { transform: scale(1.05); box-shadow: 2px 2px 4px 2px grey; -webkit-transform: scale(1.05); -moz-transform: scale(1.05); -ms-transform: scale(1.05); -o-transform: scale(1.05); }


.item { width: 70vw; display: flex; overflow: auto;}
.item+div {width: 30vw;}
.item img {width: 100%;}

h2.tour-title+div td:first-child {font-weight: bold;}

h2.tour-title { padding: 10px; border-width: 1px 0px; border-style: dashed; border-color: black;}
input[type="submit"] { 
  display: block; 
  margin: 0 auto; 
  color: red;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  padding: 10px 15px;
  border-radius: 50%;
  transition-duration: 0.5s;
  background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
}
input[type="submit"]:hover {transform-style: flat; color: blue; box-shadow: 2px 2px 4px 2px grey;}



.tour-price > table {border-collapse: collapse;}
.tour-price > table th {background-color: lightskyblue;}
.tour-price > table > tr *:hover {transition-duration: 0.5s; color: red;}
caption {text-align: right; font-size: 13px;}


.day-tour_content { width: 95%; margin: auto}
.day-tour_content > ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.day-tour_content > ul li > div:first-child { 
  font-weight: bold; 
  border-radius: 75% 50% 0 50%;
  padding: 1vw;
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.day-tour_content > ul li > div:not(:first-child) { 
  border-radius: 75px 50px 50px 0px;
  margin-left: 5px;
  padding: 1vw 2vw;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.day-tour_content > ul li:hover  {
  transition: all 1s ease;
  transform: scale(1.1);
  color: blue;
}



.tour-rule {display: flex;}




/* CSS form đặt tour  */
.book-tour {
  margin: 0 auto;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  position: fixed;
  top: 15%;
  left: 10%;
  right: 10%;
  bottom: 5%;
  display: none;
}

ul.payment-card > li {
  margin: 0.25vh 0.25vw;
  padding: 0; 
  height: 5vh; 
}


li > button {
  height: 100%;
  border: none;
  padding: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}


ul.payment-card > li > button > img {
  width: auto; 
  height: 100%;
  padding: 1px;
}

div#form-contact-box { width: 40%; }

div#form-payment-radio { width: 60%; }


input.form-payment-radio { display: inline; }

/* CSS tabs */
.tabs li > a {
  display: block;
  padding: 2vh 2vw;
  background-color: silver;
  margin-bottom: 0;
}
.active {
  margin-top: 0;
  background-color: silver;
}




/* CSS nội dung chính */
#main-content { width: 70vw; background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); }

/* CSS khách sạn */
.hotel { padding: 1vw; }

.intro {
  line-height-step: 1.5vw;
  text-indent: 1cm;
  padding: 1vw;
  margin: 1vw;
  border-radius: 1vw;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.rooms_item { flex-wrap: wrap; justify-content: space-evenly; }

.room_item { position: relative; margin: 0.5vw; }

.room_item img { height: 20vw; width: 30vw; }

.room_item:hover img, .furniture_item:hover img { border: 1px solid white; }

.detail_item {
  display: none;
  height: 20vw;
  width: 30vw;
  text-align: center;
  padding: 3vw 1vw;
  line-height-step: 1.5vw;
  opacity: 0.6;
}

.room_item:hover .detail_item {
  display: block;
  position: absolute;
  top: 0;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

/* CSS thông tin chi tiết khách sạn */
.furnitures_item { flex-wrap: nowrap; overflow: auto; align-content: flex-start; }

.furniture_item { position: relative; margin: 0.5vw; }

.furniture_item img { height: 20vw; width: 30vw; }

.list_wrap { flex-wrap: wrap; justify-content: space-evenly; }

/* CSS form đặt */

.aside_right { float: right; padding-left: 1vw; margin-left: 1vw;}

.form_booking { display: flex; }

fieldset {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  padding: 1vw;
  width: 25vw;
}
legend {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  border: 1px solid grey;
  border-radius: 1vw;
  padding: 1vh 1vw;
}



fieldset input, fieldset select {
  display: block;
  width: inherit;
  padding: 0.25vw;
  margin: 0.25vw 0;
}

button[type="submit"] {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  border: 1px solid grey;
  float: right;
  margin-top: 0.5vw;
}

button[type="submit"]:hover {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); 
  box-shadow: gray 3px 4px 1px;
}
#top{

    
  height: 70px;
  background: g#92b6b4;
  font-size: 3.2em;
  font-family: segoe script !important;
 
  
}

#top a:hover{
color: red;

}
#left{
  background: #ccc;
  width: 80%;

  min-height: 400px;
  content: 5000px 50px;
  position: relative;
  left:100px;
  border-radius: 10px;
  box-sizing: content-box;
  border: 1px solid #ccc;
  padding: 8px 9px;
  padding-right: 30px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}
